<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="static/htmx.min.js"></script>
    <link rel="stylesheet" href="static/css/pico.min.css"/>
    <link rel="stylesheet" href="static/css/pico.colors.min.css"/>
</head>
<body>

<main class="container">
    <h1>Kaemmerchen</h1>

    <div hx-get="/outputs"
         hx-trigger="load"
         hx-swap="outerHTML">
    </div>

    <div hx-get="/inputs"
         hx-trigger="load"
         hx-swap="outerHTML">
    </div>

    <div hx-get="/webcam"
         hx-trigger="load"
         hx-swap="outerHTML">
    </div>


</main>

<footer class="container">
    <form action="/logging">
        <input type="submit" value="Logs" />
    </form>
</footer>


</body>
</html>