<div hx-get="/inputs"
     hx-trigger="load delay:1s"
     hx-swap="outerHTML">

    <section>
        <div style="display: flex; flex-wrap:wrap; align-content:center; gap: 10px;">
            <article th:each="d: ${data}"
                     th:class="${d.value > 0?'pico-color-green-500 pico-background-green-500':'pico-background-pink-600 pico-color-pink-500'}">
                <header>
                    <span th:text="${d.key}" th:class="${d.value > 0?'':''}"></span>
                </header>
                <span th:text="${d.value}"></span>
            </article>
        </div>
    </section>
</div>