<section>
    <!--/*@thymesVar id="data" type="com.example.State"*/-->
    <div style="display: flex; flex-wrap:wrap; align-content:center; gap: 10px;">
        <article>
            <label>
                <input name="mistifier" type="checkbox" role="switch" hx-post="/set_output" value="1"
                       hx-include="[name='mistifier_hidden']" th:checked="${data.mistifier > 0}"/>
                <input name="mistifier_hidden" type="hidden" value="0"/>
                Mistifier
            </label>
        </article>
        <article>
            <label>
                <input name="light" type="checkbox" role="switch" hx-post="/set_output" value="1"
                       hx-include="[name='light_hidden']" th:checked="${data.light > 0}"/>
                <input name="light_hidden" type="hidden" value="0"/>
                Light
            </label>
        </article>
        <article>
            <label>
                <input name="pump1" type="checkbox" role="switch" hx-post="/set_output" value="1"
                       hx-include="[name='pump1_hidden']" th:checked="${data.pump1 > 0}"/>
                <input name="pump1_hidden" type="hidden" value="0"/>
                Pump 1
            </label>
        </article>

        <article>
            <label>
                <input name="pump2" type="checkbox" role="switch" hx-post="/set_output" value="1"
                       hx-include="[name='pump2_hidden']" th:checked="${data.pump2 > 0}"/>
                <input name="pump2_hidden" type="hidden" value="0"/>
                Pump 2
            </label>
        </article>

        <article>
            <label>
                <input name="fan1" type="checkbox" role="switch" hx-post="/set_output" value="1"
                       hx-include="[name='fan1_hidden']" th:checked="${data.fan1 > 0}"/>
                <input name="fan1_hidden" type="hidden" value="0"/>
                Fan 1
            </label>
        </article>

        <article>
            <label>
                <input name="fan2" type="checkbox" role="switch" hx-post="/set_output" value="1"
                       hx-include="[name='fan2_hidden']" th:checked="${data.fan2 > 0}"/>
                <input name="fan2_hidden" type="hidden" value="0"/>
                Fan 2
            </label>
        </article>

        <article>
            <label>
                <input name="automaticMode" type="checkbox" role="switch" hx-post="/set_output" value="1"
                       hx-include="[name='automaticMode_hidden']" th:checked="${data.automaticMode > 0}"/>
                <input name="automaticMode_hidden" type="hidden" value="0"/>
                Automatic
            </label>
        </article>

        <article>
            <label>
                Target Humidity Soil 1
                <input name="targetHumiditySoil1" type="range" hx-post="/set_output" th:value="${data.targetHumiditySoil1}" oninput="this.nextElementSibling.value = this.value + '%'"/>
                <output th:text="${data.targetHumiditySoil1 + '%'}"></output>
            </label>
        </article>

        <article>
            <label>
                Target Humidity Soil 2
                <input name="targetHumiditySoil2" type="range" hx-post="/set_output" th:value="${data.targetHumiditySoil2}" oninput="this.nextElementSibling.value = this.value+ '%'"/>
                <output th:text="${data.targetHumiditySoil2+ '%'}"></output>
            </label>
        </article>

        <article>
            <label>
                Pump 1 duration
                <input name="pump1OnDuration" type="range" hx-post="/set_output" th:value="${data.pump1OnDuration}" oninput="this.nextElementSibling.value = this.value+ 's'"/>
                <output th:text="${data.pump1OnDuration + 's'}"></output>
            </label>
        </article>

        <article>
            <label>
                Pump 2 duration
                <input name="pump2OnDuration" type="range" hx-post="/set_output" th:value="${data.pump2OnDuration}" oninput="this.nextElementSibling.value = this.value+ 's'"/>
                <output th:text="${data.pump2OnDuration + 's'}"></output>
            </label>
        </article>

        <article>
            <label>
                lightOnTime
                <input name="lightOnTime" type="range" hx-post="/set_output" min="0" max="24" th:value="${data.lightOnTime}" oninput="this.nextElementSibling.value = this.value+ 'h'"/>
                <output th:text="${data.lightOnTime + 'h'}"></output>
            </label>
        </article>

        <article>
            <label>
                lightOffTime
                <input name="lightOffTime" type="range" hx-post="/set_output" min="0" max="24" th:value="${data.lightOffTime}" oninput="this.nextElementSibling.value = this.value+ 'h'"/>
                <output th:text="${data.lightOffTime + 'h'}"></output>
            </label>
        </article>

        <article>
            <label>
                Pump Interval
                <input name="pumpInterval" type="range" hx-post="/set_output" th:value="${data.pumpInterval}" max="120" step="10"  oninput="this.nextElementSibling.value = this.value+ 'min'"/>
                <output th:text="${data.pumpInterval + 'min'}"></output>
            </label>
        </article>
    </div>
</section>
